body {
    margin: 0;
    
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#050210;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-top: 50px;
    width: 60vh;
    height: 60vh;
    
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    border-radius: 50%;
    animation: colors 1s linear infinite;
}
@keyframes colors {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    
}
.circle1 {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-top: 45px;
    width: 55vh;
    height: 55vh;
    border-radius: 50%;
    background-color: #050210;
}
.circle2 {
    position: absolute;
    border-top: 5px;
    width: 55vh;
    height: 55vh;
    
    background: repeating-radial-gradient(at center,rgb(41, 41, 73),rgb(51, 51, 100));
    border-radius: 50%;
    animation-name: pulsating;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes pulsating {
    0% {
      transform: scale(0.1, 0.1);
      opacity: 0;
    }
    50% {
        
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
.circle2::after{
    content: '';
    position: absolute;
    top: 35px;
    right: 35px;
    bottom: 35px;
    left: 35px;
}
.circle::after{
    content: '';
    position: absolute;
    top: 35px;
    right: 35px;
    bottom: 35px;
    left: 35px;
    border-radius: 50%;
    
    
}

    

.circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    border-radius: 50%;
}
.circle span:nth-child(1){
    filter: blur(5px);
}
.circle span:nth-child(2){
    filter: blur(10px);
}
.circle span:nth-child(3){
    filter: blur(20px);
}
.circle span:nth-child(4){
    filter: blur(55px);
}